.custom-toolbar {
    background: var(--body-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3em;
}

span {
    padding-left: 2em;
}

.container {
    width: 85%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--accent);
    cursor: pointer;
}

.back-to-top {
    background-color: #000;
    display: flex;
    justify-content: center;
}

.icon-arrow {
    animation: up 1.5s infinite;
    font-size: 2rem;
}

.icons>a {
    padding-right: 2rem;
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@media screen and (max-width:800px) {
    .custom-toolbar {
        margin: 0;
        padding: 0;
    }
    .icons>a {
        padding-right: 0.5em;
    }
    span {
        padding-left: 0;
    }
    .icon-arrow {
        margin: 0 0.5em;
    }
}