.create-post-container {
    background: rgba(255, 255, 255, 0.09);
    width: 50%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0rem 0 1.05rem 36.5rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

form {
    width: 85%;
    font-family: var(--main-font);
}

h1 {
    margin: 1rem 0rem;
    color: var(--accent);
    font-family: var(--main-font);
}

hr {
    width: 100%;
    margin-bottom: 1rem;
}

.name {
    color: #fff;
}

.create-post-container .create-post-textarea {
    margin-top: 1em;
}

.profile-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: var(--main-font);
}

.create-post-avatar {
    width: 65px;
    height: 65px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    border: 3px solid #cc4c19;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.create-post-avatar img {
    width: 100%;
    height: 100%;
}

.create-post-box {
    display: flex;
}

.create-post-textarea {
    display: block;
    border-radius: 8px;
    width: 100%;
    resize: none;
    background: rgba(0, 0, 0, 0.109);
    color: #fff;
    margin: .5rem;
    padding: 10px 10px;
    font-family: var(--main-font);
    caret-color: #cc4c19;
    outline: none;
    border: none;
}

.create-post-btn {
    margin: 1rem 1rem;
    background: rgba(255, 255, 255, 0.09);
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border: 1px solid #fff;
    border-radius: 8px;
    font-family: var(--main-font);
    font-weight: 700;
    cursor: pointer
}

.create-post-btn:hover {
    cursor: pointer;
    background-color: #cc4c19;
    border-color: #cc4c19;
    color: #fff;
    transition: all 0.5s;
}

@media screen and (max-width:1380px) {
    .create-post-container {
        width: 60%;
        margin: 2rem 0 2rem 27rem;
    }
}

@media screen and (max-width:1280px) {
    .create-post-container {
        width: 60%;
        margin: 2rem 0 2rem 24rem;
    }
}

@media screen and (max-width:1180px) {
    .create-post-container {
        width: 60%;
        margin: 2rem 0 2rem 22rem;
    }
}

@media screen and (max-width:980px) {
    .create-post-container {
        width: 60%;
        margin: 2rem 0 2rem 9.5rem;
    }
}

@media screen and (max-width:780px) {
    .create-post-container {
        width: 60%;
        margin: 2rem 0 2rem 6rem;
    }
}