<div class="create-post-container">
    <!-- <h1>Create Post</h1>
    <hr> -->
    <div class="profile-info">
        <div class="create-post-avatar"><img [src]="urlBlob" alt=""></div>
        <form>
            <div class="create-post-box">
                <textarea #text class="create-post-textarea" rows="3" placeholder="Share your thoughts..."></textarea>
                <!-- <textarea class="create-post-textarea" rows="2" placeholder="They say a picture tells a thousand words, share url if you have one..."></textarea> -->
            </div>
        </form>
    </div>

    <button class="create-post-btn" (click)="createPostHandler(text.value)">Post</button>
</div>