<div class="create-post-container">

    <h1>Create Post</h1>
    <hr>
    <div class="profile-info">
        <div class="create-post-avatar"><img src="./pexels-tony-jamesandersson-1674752.jpg" alt=""></div>
        <p class="name">Lily-Grace Colley</p>
    </div>

    <form>
        <div class="create-post-box">
            <textarea class="create-post-textarea" rows="5" placeholder="Share your thoughts..."></textarea>
            <textarea class="create-post-textarea" rows="3" placeholder="They say picture tells a thousand words, share url if you have..."></textarea>
        </div>
    </form>
    <button class="create-post-btn">Post</button>
</div>