<mat-toolbar class="custom-toolbar">
    <!-- Copyright -->
    <div class="container">
        <div>
            <span>© 2022 Busker</span>
        </div>
        <!-- Back to top arrow -->
        <div class="back-to-top">
            <a (click)="onActivate()">
                <mat-icon class="icon-arrow" fontSet="fas" fontIcon="fa-chevron-up">
                </mat-icon>
            </a>

        </div>
        <!-- Social Media Icons -->
        <!-- To Do: links -->
        <div class="icons">
            <a href="/home">
                <mat-icon class="icon" fontSet="fab" fontIcon="fa-facebook">
                </mat-icon>
            </a>
            <a href="/home">
                <mat-icon class="icon" fontSet="fab" fontIcon="fa-instagram"></mat-icon>
            </a>
            <a href="/home">
                <mat-icon class="icon" fontSet="fab" fontIcon="fa-twitter">
                </mat-icon>
            </a>
        </div>
    </div>
</mat-toolbar>