<!-- Comment Section -->
<div class="comments-container">
    <h1>Comments</h1>
    <ul id="comments-list" class="comments-list">
        <!-- Comments -->
        <li *ngFor="let comment of commentsList">
            <app-comment-list-item [comment]="comment"></app-comment-list-item>
            <!-- Responses -->
            <ul *ngIf="comment.replyComments" class="comments-list reply-list">
                <li *ngFor="let reply of comment.replyComments">
                    <app-reply-comment-item [reply]="reply"></app-reply-comment-item>
                </li>
            </ul>
        </li>
    </ul>
    <app-add-comment></app-add-comment>

</div>