.comments-container {
    margin: 30px auto 15px;
    width: 90%;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}

.comments-list .reply-list li {
    width: 100%;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
    width: 90%;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-container h1 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}


/** =====================
   * Responsive
   ========================*/

@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }
    .comments-list .comment-box {
        width: 390px;
    }
    .reply-list .comment-box {
        width: 320px;
    }
}