@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --main-font: 'Montserrat', sans-serif;
    --accent: #FF662B;
    --base-font-color: #F2DABF;
    --base-font-solor-third: #670404;
    --body-font-color: #ffffff;
    --body-color: #000000;
    --body-color-secondary: #111111;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
    color: var(--base-font-color);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-photo {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likes-time-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.likes {
    padding-right: 35rem;
}

.text-p {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.user {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
}

.posted-time {
    display: flex;
}

.user-photo {
    border-top: 1px solid #000;
    border-radius: 50%;
    width: 7%;
}

.user {
    display: flex;
}

.first-name,
.second-name {
    margin-right: 5px;
}

.user-photo {
    margin-right: 10px;
}

.likes {
    display: flex;
}

.mat-icon {
    color: var(--base-font-color);
}

.comment-section {
    width: 200px;
    height: 20px;
}

.post-text {
    padding-left: 2rem;
}