<div class="container">


    <div class="inside-container">

        <div class="user">

            <img class="user-photo" src="../../../assets/photos/profile-busker.jpg" alt="">

            <div class="text-p">
                <p class="first-name">Brave</p>
                <p class="second-name">Finch</p>
                <p>shared a post</p>
            </div>
        </div>
        <div class="post-photo"><img class="post-photo" src="../../../assets/photos/firstPostImg.jpg" alt=""></div>
        <div class="post-text">
            <p>Starting at 8pm at Squares! See ya there! x</p>
        </div>


        <div class="likes-time-container">
            <div class="likes">
                <a href="/fb">
                    <mat-icon class="icon" fontSet="far" fontIcon="fa-heart">
                    </mat-icon>
                </a>
                <p>30 </p>
                <p>likes</p>
            </div>
            <div class="posted-time">
                <p>2</p>
                <p>mins</p>
                <p>ago</p>
            </div>
        </div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input class="comment-section" type="submit" value="" placeholder="Comment ...">

    </div>

</div>