<!-- Profile Card -->
<div class="card-profile">
    <!-- Profile Image -->
    <img src="../../../assets/photos/profile-busker.jpg" alt="Person" class="card-image">
    <!-- Profile Name -->
    <p class="card-name">Lily-Grace Colley</p>
    <!-- Socials  -->
    <ul class="social-icons">

        <li>
            <a href="#">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
        </li>
    </ul>
    <button class="btn draw-border">Follow</button>
    <!-- <button class="btn draw-border">Unfollow</button> -->
    <button class="btn draw-border">Message</button>
    <button class="btn draw-border">Tip</button>
</div>