<section class="register">
    <div class="background">
        <div class="card-container">
            <div class="register-card">
                <!-- Title -->
                <h1 class="title">Sign Up</h1>
                <!-- Register Form -->
                <form #f="ngForm" (ngSubmit)="sumbitFormHandler(f.value)">
                    <!-- Fields and Button -->
                    <div class="fields-container">
                        <!-- Email input -->
                        <mat-form-field class="email-input" appearance="fill">
                            <mat-label class="label">Email</mat-label>
                            <input matInput #userEmail="ngModel" type="email" name="email" id="email" required pattern="^[A-Za-z\.-]{6,}@\w+\.(com|bg)$" placeholder="Ex. patrick@example.com" ngModel>
                            <!-- Email Validators -->
                            <mat-error *ngIf="userEmail.touched && userEmail.errors?.pattern">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="userEmail.errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Username input -->
                        <mat-form-field class="username-input" appearance="fill">
                            <mat-label class="label">Name</mat-label>
                            <input #userName="ngModel" type="text" name="username" id="username" placeholder="Ex. David Fincher" matInput required pattern="^[a-zA-Z ,.'-]+$" ngModel>
                            <!-- Username Validators -->
                            <mat-error *ngIf="userName.touched && userName.errors?.pattern">
                                Please enter a valid name
                            </mat-error>
                            <mat-error *ngIf="userName.errors?.required">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Password Input -->
                        <mat-form-field class="password-input" appearance="fill">
                            <mat-label class="label">Password</mat-label>
                            <input matInput #userPassword="ngModel" type="password" name="password" id="password" placeholder="********" ngModel required minlength="8">
                            <!-- Password Validators -->
                            <mat-error *ngIf="userPassword.touched && userPassword.errors?.minlength">
                                Password should be at least 8 characters long
                            </mat-error>
                            <mat-error *ngIf="userPassword.errors?.required">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- RePassword Input -->
                        <mat-form-field class="rePassword-input" appearance="fill">
                            <mat-label class="label">Repeat Password</mat-label>
                            <input matInput #rePassword="ngModel" type="password" name="rePassword" id="rePassword" placeholder="********" ngModel required appRePasswordValidator>
                            <!-- RePassword Validators -->
                            <mat-error *ngIf="rePassword.touched && rePassword.errors?.appRePasswordValidator">
                                Passwords should match
                            </mat-error>
                            <mat-error *ngIf="rePassword.errors?.required">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Options -->
                        <mat-radio-group aria-label="select-option">
                            <mat-radio-button #performerRadio="ngModel" name="typeOptions" id="performer" value="performer" ngModel ngDefaultControl> Performer</mat-radio-button>
                            <mat-radio-button #viewerRadio="ngModel" name="typeOptions" id="viewer" value="viewer" ngModel ngDefaultControl>Viewer</mat-radio-button>
                            <!-- Options Validators-->
                            <!-- Options Validators-->
                            <mat-error *ngIf="!performerRadio.dirty && !viewerRadio.dirty">
                                Choose an option
                            </mat-error>
                        </mat-radio-group>
                        <!-- Submit Button     -->
                        <button mat-raised-button>Register</button>
                    </div>
                    <!-- Loader -->
                    <app-loader [isLoading]="isLoading"></app-loader>
                </form>

            </div>
        </div>
        <div class="layer"></div>
    </div>

</section>