<!-- Profile Card -->
<div class="card-profile">
    <!-- Profile Image -->
    <img src="../../../assets/photos/profile-busker.jpg" alt="Person" class="card-image">
    <!-- Profile Name -->
    <p class="card-name">{{username}}</p>
    <p class="card-type">Viewer</p>

    <button class="btn draw-border">Followers</button>
    <button class="btn draw-border">Following</button>

    <button class="btn draw-border">Messages</button>
    <button class="btn draw-border">Edit Profile</button>


</div>