 mat-sidenav-container,
 mat-sidenav-content,
 mat-sidenav {
     height: 100%;
 }
 
 mat-sidenav {
     width: 50%;
     background-color: #000;
 }
 
 .container {
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1;
 }