<section class="login">
    <div class="background">
        <div class="card-container">
            <div class="login-card">
                <!-- Title -->
                <h1 class="title">Sign In</h1>
                <!-- Login Form -->
                <form #f="ngForm" (ngSubmit)="submitFormHandler(f.value)">
                    <!-- Fields and Button -->
                    <div class="fields-container">
                        <!-- Email input -->
                        <mat-form-field class="email-input" appearance="fill">
                            <mat-label class="label">Email</mat-label>
                            <input matInput #userEmail="ngModel" type="email" name="email" id="email" placeholder="Ex. pat@example.com" ngModel required pattern="^[a-zA-Z\.-]{6,}@\w+\.(com|bg)$">
                            <!-- Email Icon -->
                            <mat-icon matSuffix fontSet="fas" fontIcon="fa-envelope"></mat-icon>
                            <!-- Email Validators -->
                            <mat-error *ngIf="userEmail.touched && userEmail.errors?.pattern">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="userEmail.touched && userEmail.errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Password Input -->
                        <mat-form-field class="password-input" appearance="fill">
                            <mat-label class="label">Password</mat-label>
                            <input matInput #userPassword="ngModel" type="password" name="password" id="password" placeholder="********" ngModel required minlength="8">
                            <!-- Password Icon -->
                            <mat-icon matSuffix fontSet="fas" fontIcon="fa-key"></mat-icon>
                            <!-- Password Validators -->
                            <mat-error *ngIf="userPassword.touched && userPassword.errors?.minlength">
                                Please enter a valid password
                            </mat-error>
                            <mat-error *ngIf="userPassword.touched && userPassword.errors?.required">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Submit Button     -->
                    <button mat-raised-button [disabled]="f.invalid">Login</button>
                    <!-- Loader -->
                    <app-loader [isLoading]="isLoading"></app-loader>
                </form>
            </div>
        </div>

        <!-- Layer -->
        <div class="layer">
        </div>
    </div>
</section>