<!-- Profile Card -->
<div class="card-profile">
    <!-- Profile Image -->
    <img src="../../../assets/photos/profile-busker.jpg" alt="Person" class="card__image">
    <!-- Profile Name -->
    <p class="card__name">Lily-Grace Colley</p>
    <!-- Socials  -->
    <ul class="social-icons">
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
    <button class="btn draw-border">Follow</button>
    <!-- <button class="btn draw-border">Unfollow</button> -->
    <button class="btn draw-border">Message</button>
    <button class="btn draw-border">Tip</button>
</div>