.container {
    display: flex;
    background-color: #000;
}

.profile-side {
    position: fixed;
    top: 2rem;
    width: 30%;
}

.names {
    font-size: 1.5rem;
}

.followers {
    font-size: 1rem;
}

.contact {
    font-size: 1rem;
    padding-top: 1.5rem;
}

.posts-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 87%;
}

.posts-side-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
    color: var(--base-font-color);
    height: 100vh;
}

.profile-photo {
    width: 100%;
    height: 30vh;
    border: 2px solid #171717;
    border-radius: 10px;
}

.names {
    display: flex;
    padding-top: 1.5rem;
}

.followers {
    display: flex;
}

.tip {
    border: 2px solid var(--accent);
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--base-font-color);
    width: 120px;
}

.tip-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip:hover {
    cursor: pointer;
}

.mat-icon {
    color: var(--base-font-color);
}

.description {
    width: 100%;
    padding-bottom: 1rem;
}

.profile-info {
    width: 50%;
}

.profile-photo-container {
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mat-icon {
    margin-right: 1rem;
}

.mat-icon:hover {
    color: var(--accent);
}

.left-arrow {
    align-self: flex-start;
    padding-left: 3rem;
    font-size: 2rem;
    animation: left 1.5s infinite;
}

.icons {
    font-size: 2rem;
}

.heading {
    color: var(--base-font-color);
    font-size: 2.5rem;
    padding-top: 6.5rem;
    padding-bottom: 2rem;
}

@keyframes left {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-1rem);
    }
}