a {
    text-decoration: none;
    color: #fff;
}

span {
    color: #fff;
}

a:hover {
    color: var(--accent);
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: #fff;
    background: transparent
}