<!-- Add Comment -->
<div class="add-comment">
    <!-- Avatar -->
    <div class="add-comment-avatar"><img [src]="urlBlob" alt=""></div>
    <!-- Comment -->
    <form #f="ngForm" (ngSubmit)="submitCommentFormHandler(f.value)">
        <div class="add-comment-box">
            <textarea name="textContent" id="comment-input" #commentInput="ngModel" ngModel class="add-comment-textarea" rows="3" placeholder="Enter your comment here..."></textarea>
            <button class="add-comment-post">Post</button>
        </div>
    </form>
</div>