<header class='cardHeader'>
    <span class='cardHeader_account'>@{{post?.author}}</span>
    <span class='cardHeader_date'>{{post?.postedAt}}</span>
</header>
<div class='cardBody'>
    <p class='cardText'>{{post?.textContent}}</p>
    <section class='cardStats'>
        <span class='cardStats_stat cardStats_stat-likes'>{{post?.likes}}<i class='far fa-heart fa-fw'></i></span>
        <span class='cardStats_stat cardStats_stat-comments'>{{post?.comments?.length}}<i class='far fa-comment fa-fw'></i></span>
    </section>
</div>