.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 5rem;
}

@media screen and (max-width:980px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}