<section class="join-us">
    <div class="container">
        <div class="background-authWelcome">
            <div class="layer">
            </div>
            <p class="join-us-txt">Welcome to Busker!<br>Scroll down to see the map.</p>

        </div>
    </div>
</section>
<section class="map">
    <div class="container">
        <!-- Div Reference for Map init -->
        <div class="mapRef" #mapRef>
            <div class="centerControlDivRef" #centerControlDivRef>
                {{isPerforming}} {{isInTagMode}}
                <div *ngIf="isPerforming && !isInTagMode" (click)="isInTagMode=false" (click)="untag()" class="controlUiRef control-ui untag-btn" #controlUiUntagRef>
                    <div class="controlTextRef control-text untag-txt" #controlTextRef>Untag Yourself</div>
                </div>
                <div *ngIf="isInTagMode" (click)="isInTagMode=false" (click)="doneTag()" class="controlUiRef control-ui done-btn" #controlUiDoneRef>
                    <div class="controlTextRef control-text done-txt" #controlDoneTextRef>Done</div>
                </div>
                <div *ngIf="isInTagMode" (click)="isInTagMode=false" (click)="cancelTag()" class="controlUiRef control-ui cancel-btn" #controlUiCancelRef>
                    <div class="controlTextRef control-text cancel-txt" #controlCancelTextRef>Cancel</div>
                </div>
                <div *ngIf="!isPerforming && !isInTagMode" (click)="isInTagMode=true" (click)="tag()" class="controlUiRef control-ui tag-btn" #controlUiTagRef>
                    <div class="controlTextRef control-text tag-txt" #controlTextRef>Tag Yourself</div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>