<section class="join-us">
    <div class="container">
        <div class="background-authWelcome">
            <div class="layer">
            </div>
            <p class="join-us-txt">Welcome to Busker!<br>Scroll down to see the map.</p>

        </div>
    </div>
</section>
<section class="map">
    <div class="container">
        <!-- Div Reference for Map init -->
        <div class="mapRef" #mapRef>
            <div class="centerControlDivRef" #centerControlDivRef>
                {{isPerforming}}
                <div class="controlUiRef control-ui tag-btn" #controlUiRef>
                    <div *ngIf="isPerforming" class="controlTextRef control-text untag-txt" #controlTextRef>Untag Yourself</div>
                    <div *ngIf="!isPerforming" class="controlTextRef control-text tag-txt" #controlTextRef>Tag Yourself</div>
                </div>
                <div class="controlUiRef control-ui done-btn" #controlUiRef>
                    <div class="controlTextRef control-text done-txt" #controlTextRef>Done</div>
                </div>
                <div class="controlUiRef control-ui cancel-btn" #controlUiRef>
                    <div class="controlTextRef control-text cancel-txt" #controlTextRef>Cancel</div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>