<div class="comment-main-level">
    <!-- Avatar -->
    <div class="comment-avatar">
        <img [src]="urlBlob" alt="">
    </div>
    <!-- Comment Content -->
    <div class="comment-box">
        <div class="comment-head">
            <!-- <h6 class="comment-name by-author">
            </h6> -->
            <a routerLink="{{link}}">{{username}}</a>
            <span>{{comment?.postedAt}}</span>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
        </div>
        <div class="comment-content">
            {{comment?.textContent}}
        </div>
    </div>
</div>