<!-- Hero  -->
<section class="hero">
    <div class="container">
        <div class="background-first">
            <p data-aos="fade-down" class="headline">Choose <br>The Entertainment Tag</p>
            <div class="layer">
            </div>
        </div>
    </div>
</section>

<!-- Discover Story -->
<section class="discover-story">
    <div class="container">
        <h1 data-aos="fade-down" class="headline-discover">Busker discovers the purposeful side of tagging.</h1>
    </div>
</section>

<!-- Join Us -->
<section class="join-us">
    <div class="container">
        <div class="background-final">
            <p data-aos="fade-down" class="join-us-txt">Sign up now as a performer or<br> a viewer to get immersed <br>in our <span>awesome</span> community.</p>
            <div class="layer">
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>